@charset "UTF-8";

@import 'normalize';

@import url('https://fonts.googleapis.com/css?family=Sail|Source+Code+Pro');

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

/* Helper Classes */

.flex-vertical-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height:100vh;
}

.flex-horizontal-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.text-centered {
  text-align: center;
}

.light {
  color: whitesmoke;
}

.dark {
  color: black;
}

/* Title Screen */

h1, h2, h3 {
  font-family: 'Sail', serif;
  font-weight: 400;
}

h1.logo {
  font-size: 20vmin;
  text-shadow: 3px 3px #555;
  margin-top: 0;
}

h2.loading {
  font-size: 5vmin;
  margin-top: 0;
}

div.progress_bar {
  height: 5vh;
  border: 1px solid whitesmoke;
  width: 50vw;
}

div.progress_bar > span {
  display: block;
  background-color: darkgreen;
  height: 100%;
}

/* Animation */

@keyframes move-background-overlay {
  from { background-position: 0 0; }
  to   { background-position: -10000px 5000px; }
}

.title_background, .title_animation_overlay {
  display : block;
  position: absolute;
  top     : 0;
  left    : 0;
  right   : 0;
  bottom  : 0;
  width   : 100%;
  height  : 100%;
  z-index : -1;
}

.title_background {
  background: #000 url(/img/background-stars.png) repeat top center;
}

.title_animation_overlay {
  background:transparent url(/img/stars-overlay.png) repeat top center;
  animation:move-background-overlay 200s linear infinite;
}

input, button {
  font-family: 'Source Code Pro', serif;
  border: 1px solid #555555;
  font-weight: 400;
  font-size: 1vw;
  background-color: whitesmoke;
}

p.console { font-family: 'Source Code Pro', serif; font-weight: 400;  font-size: 1.25vw; }

/* Region */

section.region {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  margin: auto;
  background-color: black;
}
/* height et min ratio from x by y to get "squares": 4x3 grid would be width: 100vmin; and height: 75vmin; */

div.row {
  display: flex;
  flex-direction: row;
  flex: 1;
}

div.tile {
  flex: 1;
  background: url(/img/tiles/void.gif);
  background-size: cover;
  position: relative;
  z-index: 10;
}

div.node, div.character, div.item, div#player {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

div.node {
  background-image: url(/img/nodes/space.gif);
  background-size: cover;
  z-index: 100;
}

div.item {
  background-image: url(/img/items/dust.gif);
  background-size: cover;
  z-index: 500;
}

div.character {
  background-image: url(/img/characters/default.gif);
  background-size: cover;
  z-index: 1000;
}

div#player {
  background-image: url(/img/players/default.gif);
  background-size: cover;
  z-index: 10000;
}
