@charset "UTF-8";

@import 'normalize';

@import url('https://fonts.googleapis.com/css?family=Sail|Nova+Mono');

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

/* Helper Classes */

.vertically-centered {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.horizontally-centered {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.text-centered {
  text-align: center;
}

.light {
  color: whitesmoke;
}

.dark {
  color: black;
}

/* Title Screen */

h1.logo {
  font-family: 'Sail', serif;
  font-weight: 400;
  font-size: 15vw;
  text-shadow: 3px 3px #555;
}

div.progress_bar {
  height: 5vh;
  border: 1px solid whitesmoke;
  width: 50vw;
}

div.progress_bar > span {
  display: block;
  background-color: whitesmoke;
  height: 100%;
}

/* Animation */

@keyframes move-background-overlay {
  from { background-position: 0 0; }
  to   { background-position: -10000px 5000px; }
}

.title_background, .title_animation_overlay {
  display : block;
  position: absolute;
  top     : 0;
  left    : 0;
  right   : 0;
  bottom  : 0;
  width   : 100%;
  height  : 100%;
  z-index : -1;
}

.title_background {
  background: #000 url(/img/background-stars.png) repeat top center;
}

.title_animation_overlay {
  background:transparent url(/img/stars-overlay.png) repeat top center;
  animation:move-background-overlay 200s linear infinite;
}

button {
  font-family: 'Nova Mono', serif;
  border: 1px solid #555555;
  font-weight: 400;
  font-size: 2.5vmin;
  background-color: whitesmoke;
}

p.console { font-family: 'Nova Mono', serif; font-weight: 400;  font-size: 1.25vw; }

